




body {
    background-color: rgb(86, 163, 189);
  }

header  {

   

background-color: aqua;

  }

  h1 {
    color: rgb(206, 24, 24);
    text-align: center;
  }

  p {
    font-family: verdana;
    font-size: 20px;
  }

  